html{
    background-color: rgb(63, 100, 168);
}
button{
    background-color:rgb(27, 49, 90); 
    color: springgreen;
}
h2,h4{
    color:springgreen;
    border: 1px solid ghostwhite;
    background-color: rgb(133, 131, 131);
}
small{
    color: springgreen;
}
img{
    border-color: springgreen;
}